@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: rgb(15, 15, 15);
}

/* Shared Styles  */

/* Typograpphy */
h2,
h3 {
  font-size: 14px;
  font-weight: 400;
}

.material-icons {
  font-size: 20px !important;
  color: #606060;
  cursor: pointer;
}

/* Navigation  */
/* Logo  Navigation  */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0px 20px 0;
}

.logo-items {
  display: flex;
  align-items: center;
}

.menu-icon {
  padding: 0 16px;
}

.logo {
  height: 20px;
}

/* Search Bar Styles  */

.search-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.searchbar {
  display: flex;
  align-items: center;
  border: 1px solid #cccccc;
  border-radius: 20px;
  overflow: hidden;
  width: 350px;
  height: 30px;
}

.searchbar input {
  background-color: transparent;
  font-size: 12px;
  font-weight: 400;
  width: 100%;
  padding: 1px 8px;
  border: none;
  outline: none;
  flex: 1;
}

.searchbar button {
  background-color: #f8f8f8;
  border: 1px solid #d3d3d3;
  border-radius: 0 40px 40px 0;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar button:hover {
  background-color: #f0f0f0;
  border: 1px solid #d3d3d3;
}
.search-bar span {
  width: 100%;
  height: 100%;
  display: block;
  fill: currentColor;
}

.mic-btn,
.noty-btn {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: none;
}

.mic-btn {
  background-color: #f6f6f6;
}

.noty-btn {
  background-color: transparent;
}

.mic-btn:hover,
.noty-btn:hover {
  background-color: #d9d9d9;
}

/* Third Nav Styles  */

.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  gap: 6px;
}

.create-btn {
  font-size: 12px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 14px;
  border-radius: 16px;
  gap: 3px;
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

/* Aligning Side menu to video section  */

.content-wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

/* Side Bar Menu  */
aside {
  width: 240px;
  height: 100%;
}

.categories {
  width: 240px;
  height: 100%;
  background: white;
  overflow-y: scroll;
}
.category-section {
  border-bottom: 1px solid #cccccc;
  margin: 10px;
}

.category-section .category:last-child {
  margin-bottom: 10px;
}

.category-section p {
  font-size: 14px;
  margin: 4px;
}
.category-heading {
  margin: 10px 0px 10px 25px;
  color: #606060;
  font-weight: 500;
  font-size: 12px;
}

.category {
  color: black;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
}

.category:hover {
  background: #f9f9f9;
}

.channel-icon {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 24px;
  cursor: pointer;
}

.active {
  font-weight: 500;
  background: #d0d0d0;
}

.active:hover {
  background: #d0d0d0;
}

.active i {
  color: red;
}

.category i {
  margin-right: 24px;
}
.categories-footer {
  padding: 25px;
}

.footer-section {
  margin-bottom: 12px;
}

.footer-section span {
  font-size: 13px;
  font-weight: 500;
  margin-right: 5px;
  color: #606060;
  cursor: pointer;
}

.copyright {
  color: #606060;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 20px;
}

/* Video  & Shorts Styles */
main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  padding-top: 6x;
  flex-direction: row;
  gap: 16px;
}

.video {
  flex: 1 1 calc(33.333% - 16px);
  max-width: calc(33.333% - 11px);

  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.video:hover {
  transform: scale(1.03);
  background-color: #f0f0f5;
  z-index: 10;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 12px;
  border: none;
  pointer-events: none;
}

.video-info {
  display: flex;
  margin-top: 12px;
  gap: 12px;
  position: relative;
}

.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #ccc;
  flex-shrink: 0;
}

.video-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.video-text h3 {
  font-size: 12px;
  font-weight: 500;
  line-height: 2rem;
  margin-bottom: 4px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.video-text p {
  font-size: 12px;
  color: #606060;
  line-height: 1.8rem;
}

.more-icon {
  position: absolute;
  right: -8px;
  top: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.more-icon:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: scale(0.97);
}

.more-icon i {
  color: #0f0f0f;
}
